<div class="single agileits w3layouts">
  <div class="container">
    <div class="single-top">
      <div class="top-stone">
        <h3><%= @stone.full_name %></h3>
      </div>
      <div class="col-md-9">
        <div class="col-md-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
          <div class="col-1">
            <img class="img-responsive gray" src="<%= asset_url('stone/DSC_0445.jpg') %>" alt="">
          </div>
        </div>
        <div class="lone-line col-md-9">
          <ul class="grid-blog agileits w3layouts">
            <%= simple_format @stone.description, class: "wow fadeInLeft agileits w3layouts animated", "data-wow-delay": ".5s" %>
            <p class="wow fadeInLeft agileits w3layouts animated no_bg" data-wow-delay=".5s">
              <span>特色：<%= @stone.feature %></span>
              <span>尺寸：<%= @stone.size %></span>
              <span>產地：<%= @stone.origin %></span>
              <span>編號：<%= @stone.number %></span>
              <span>適用場所：<%= @stone.good_place %></span>
            </p>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-1-at sidebar-title-wrapper">
          <h5 class="text-center sidebar-title"><a href="single.html">工程實績 Gallery</a></h5>
        </div>
        <% if @stone.examples.present? %>
          <% @stone.examples.each do |ex| %>
            <%= link_to ex do %>
              <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="<%= asset_url('ex-1.jpg') %>" alt="" />
            <% end %>
          <% end %>
        <% else %>
          <div class="text-center no_content_div">敬請期待</div>
        <% end %>
      </div>  
    </div>
  </div>    
</div>