<%= form_for ["admin", @technique], html: { multipart: true } do |f| %>
	<%= form_errors(@technique) %>
	<% if @technique.attachments.present? %>
		<div class="row">
			<%= render partial: "admin/attachments/attachments", collection: @technique.attachments, as: :attachment %>
		</div>
		<hr>
	<% end %>
	<div class="form-group">
		<label for="images[]">上傳圖片</label>
		<%= file_field_tag "images[]", multiple: true %>
	</div>
	<div class="form-group">
		<%= f.label :zh_name %>
		<%= f.text_field :zh_name, class: "form-control" %>	
	</div>
	<div class="form-group">
		<%= f.label :en_name %>
		<%= f.text_field :en_name, class: "form-control" %>	
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control", rows: 7 %>
	</div>
	<div class="form-group">
		<%= f.label :stone_ids %>
		<%= f.collection_select :stone_ids, Stone.all, :id, :zh_name, {}, class: "form-control select2",  multiple: "multiple" %>
	</div>
	<label class="hvr-rectangle-out agileits w3layouts">
		<%= f.submit "儲存" %>
	</label>
<% end %>