<%= form_for ["admin", @stone], html: { multipart: true } do |f| %>
	<%= form_errors(@stone) %>
	<% if @stone.attachments.present? %>
		<div class="row">
			<%= render partial: "admin/attachments/attachments", collection: @stone.attachments, as: :attachment %>
		</div>
		<hr>
	<% end %>
	<div class="form-group">
		<label for="images[]">上傳圖片</label>
		<%= file_field_tag "images[]", multiple: true %>
	</div>
	<div class="form-group">
		<%= f.label :zh_name, class: "required" %>
		<%= f.text_field :zh_name, class: "form-control", required: true %>	
	</div>
	<div class="form-group">
		<%= f.label :en_name %>
		<%= f.text_field :en_name, class: "form-control" %>	
	</div>
	<div class="form-group">
		<%= f.label :number %>
		<%= f.text_field :number, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :size %>
		<%= f.text_field :size, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :origin %>
		<%= f.text_field :origin, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :good_place %>
		<%= f.text_field :good_place, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :feature %>
		<%= f.text_field :feature, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control", rows: 7 %>
	</div>
	<label class="hvr-rectangle-out agileits w3layouts">
		<%= f.submit "儲存", data: { disable_with: "資料上傳中..." } %>
	</label>
<% end %>