<tr>
	<td><%= stone.zh_name %></td>
	<td><%= stone.en_name %></td>
	<td><%= stone.feature %></td>
	<td><%= stone.origin %></td>
	<td><%= simple_format stone.description %></td>
	<td style="white-space: nowrap;">
		<% if stone.ad_off? %>
			<%= link_to "設為首頁精選", admin_toggle_ads_path(model: "Stone", id: stone.id), class: "btn btn-info btn-sm", method: :post %> |
		<% else %>
			<%= link_to "取消首頁精選", admin_toggle_ads_path(model: "Stone", id: stone.id), class: "btn btn-default btn-sm", method: :post %> |
		<% end %>
		<%= link_to "編輯", edit_admin_stone_path(stone), class: "btn btn-primary btn-sm" %> |
		<%= link_to "刪除", admin_stone_path(stone), method: :delete, data: { confirm: "確定要刪除嗎？" }, class: "btn btn-danger btn-sm" %>
	</td>
</tr>