<!--header-->
<div class="header agileits w3layouts  header-head" id="home">
<div class="w3layouts">
		<div class="head agileits">
			<%= render "common/nav" %>
		</div>
	</div>
</div>

			<div class="event" id="events">
			<div class="container">
		
		<div class="top-event">
			<h3>精選案例</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="event-grid ">
			<div class="event-left wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc.jpg') %>" class="img-responsive" alt=""></a>
				<div class="event-top">
					<div class="event-gr">
						<h4><a href="single.html">Contrary to popular belief</a> </h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>
				</div>
			</div>
			<div class="event-right wow fadeInRight animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc1.jpg') %>" class="img-responsive" alt=""></a>
				<div class="event-top event-top1">
					<div class="event-gr">
						<h4><a href="single.html">There are many variations</a> </h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>                                     
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="event-grid">
			<div class="event-left event-left1 wow fadeInRight animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc2.jpg') %>" class="img-responsive" alt=""></a>
				<div class="clearfix"></div>
				<div class="event-top event-t">
					<div class="event-gr">
						<h4><a href="single.html">There are many variations </a></h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>
				</div>
			</div>
			<div class="event-right event-right1 wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc3.jpg') %>" class="img-responsive" alt=""></a>
				<div class="clearfix"></div>
				<div class="event-top event-t1">
					<div class="event-gr">
						<h4><a href="single.html">Contrary to popular belief </a></h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>                                     
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="event-grid ">
			<div class="event-left wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc.jpg') %>" class="img-responsive" alt=""></a>
				<div class="event-top">
					<div class="event-gr">
						<h4><a href="single.html">Contrary to popular belief</a> </h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>
				</div>
			</div>
			<div class="event-right wow fadeInRight animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc1.jpg') %>" class="img-responsive" alt=""></a>
				<div class="event-top event-top1">
					<div class="event-gr">
						<h4><a href="single.html">There are many variations</a> </h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>                                     
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="event-grid">
			<div class="event-left event-left1 wow fadeInRight animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc2.jpg') %>" class="img-responsive" alt=""></a>
				<div class="clearfix"></div>
				<div class="event-top event-t">
					<div class="event-gr">
						<h4><a href="single.html">There are many variations </a></h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>
				</div>
			</div>
			<div class="event-right event-right1 wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="single.html"><img src="<%= asset_url('pc3.jpg') %>" class="img-responsive" alt=""></a>
				<div class="clearfix"></div>
				<div class="event-top event-t1">
					<div class="event-gr">
						<h4><a href="single.html">Contrary to popular belief </a></h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>                                     
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		            
                
                
		</div>
		</div>
		<!---->