<div class="content agileits w3layouts">
  <div class="container agileits w3layouts">
    <div class="col-top agileits w3layouts" id="about">
      <h3>Welcome to KUANG-YANG </h3>
      <p>礦元石業秉持著服務至上原則，藉著過去多年的石材施作經驗，精心挑選來自各國的原石，包括義大利、土耳其、葡萄牙、摩洛哥、巴西、印尼、印度、希臘、伊朗、中國大陸等，我們看中石頭與生俱來的生命表現，以及如何運用在每一個獨特的空間中，以成就非凡的藝術作品。對於石材的真實表現和品質的要求，我們深具信心！</p>
    </div>
    <!---->
    <div class="tab-head agileits w3layouts">
      <nav class="col-md-6 nav-sidebar wow agileits w3layouts fadeInLeft animated" data-wow-delay=".5s">
        <ul class="nav agileits w3layouts tabs">
          <li class="active agileits w3layouts"><a href="#tab1" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-home" aria-hidden="true"></span>關於礦元</a></li>
          <li class=""><a href="#tab2" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-thumbs-up" aria-hidden="true"></span>專業諮詢</a></li> 
          <li class=""><a href="#tab3" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-briefcase" aria-hidden="true"></span>多年經驗</a></li>  
          <li class=""><a href="#tab4" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-heart-empty" aria-hidden="true"></span>服務熱忱</a></li>
          <li class=""><a href="#tab5" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-wrench" aria-hidden="true"></span>專業施工</a></li> 
        </ul>
      </nav>
      <div class="col-md-6 tab-content wow fadeInRight animated" data-wow-delay=".5s">
        <div class="tab-pane active text-style" id="tab1">
          <div class="facts">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <h4>關於礦元</h4>
            <p>礦元成立至今，足跡已遍及全國各知名飯店，精品豪宅及私人建築，隨著設計風格的多元化，為呈現嶄新的視覺與感官的響宴，滿足客戶對石材特性不同的需求，佳聯為您層層把關，我們期盼用我們的專業與努力，為空間帶來豐富性及多樣化，為您創造無限的幸福!</p>
          </div>
        </div>
        <div class="tab-pane  text-style" id="tab2">
          <div class="facts">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <h4>專業諮詢</h4>
             <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations .</p>
           </div>
        </div>
        <div class="tab-pane  text-style" id="tab3">
          <div class="facts">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            <h4>多年經驗</h4>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations .</p>
          </div>
        </div>
        <div class="tab-pane text-style" id="tab4">
          <div class="facts">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h4>服務熱忱</h4>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations .</p>
          </div>
        </div>
        <div class="tab-pane  text-style" id="tab5">
          <div class="facts">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <h4>專業施工</h4>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.There are many variations .</p>
          </div>
        </div>
      </div>
			<div class="clearfix"></div>
   	</div>
  </div>

  <!--stone-->
  <div class="stone" id="stone">
    <div class="container">	
      <div class="top-stone">
        <h3>精選石材</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    	</div>
    </div>

    <!-- 精選石材 -->
    <div class="portfolio" id="gallery">
      <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
        <% @top_ad_stones.each do |top_ad_stone| %>
          <div class="col-md-4 grid slideanim">
            <figure class="effect-jazz">
              <%= link_to stone_path(top_ad_stone) do %>
                <%= image_tag (top_ad_stone.attachments.cover.try(:first).try(:image).try(:url) || "default.svg"), class: "img-responsive" %>
                <figcaption>
                  <h4><%= top_ad_stone.zh_name %></h4>
                  <p><%= top_ad_stone.en_name %></p>
                </figcaption>
              <% end %>
            </figure>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
        <% @bottom_ad_stones.each do |bottom_ad_stone| %>
          <div class="col-md-3 grid grid-wi slideanim">
            <figure class="effect-jazz">
              <%= link_to stone_path(bottom_ad_stone) do %>
                <img src='<%= asset_url("stone/DSC_0470.jpg") %>' alt="img25" class="img-responsive"/>
                <figcaption>
                  <h4 class="effcet-text"><%= bottom_ad_stone.zh_name %></h4>
                  <p><%= bottom_ad_stone.en_name %></p>
                </figcaption>					
              <% end %>
            </figure>
          </div>
        <% end %>
        <div class="col-md-3 grid grid-wi slideanim">
          <figure class=" view-all">
            <%= link_to stones_path do %>
              <img src='<%= asset_url("background2.jpg") %>' alt="img25" class="img-responsive">
            <% end %>
          </figure>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <!---->	
    <div class="event" id="events">
      <div class="container">
        <div class="top-event">
          <h3>精選案例</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <% @ad_examples.first(4).each_with_index do |ex, i| %>
          <div class="<%= i.even? ? 'event-grid' : '' %>">
            <div class="<%= render_wrapper_direction(i) %> wow animated" data-wow-delay=".5s">
              <%= link_to ex do %>
                <%= image_tag (ex.attachments.cover.try(:first).try(:image).try(:url) || "default.svg"), class: "img-responsive" %>
              <% end %>
              <div class="<%= render_content_direction(i) %>">
                <div class="event-gr">
                  <h4>
                    <%= link_to ex.full_name, ex %>
                  </h4>
                  <%= simple_format ex.description.try(:truncate, 100) %>
                </div>
              </div>
            </div>
            <% if i.odd? %>
              <div class="clearfix"></div>
            <% end %>
          </div>
        <% end %>
      
        <div class="event-grid ">
          <div class="event-left wow fadeInLeft animated" data-wow-delay=".5s">
            <%= link_to @ad_examples.last do %>
              <img src='<%= asset_url("pc4.jpg") %>' class="img-responsive" alt="">
            <% end %>
            <div class="event-top">
              <div class="event-gr">
                <h4>
                  <%= link_to @ad_examples.last.full_name, @ad_examples.last %>
                </h4>
                <%= simple_format @ad_examples.last.description.try(:truncate, 100) %>
              </div>
            </div>
          </div>
          <div class="event-right wow fadeInRight animated" data-wow-delay=".5s">
            <%= link_to examples_path do %>
              <img src='<%= asset_url("background2.jpg") %>' class="img-responsive" alt="">
            <% end %>
            <div class="event-top event-top1">
              <div class="event-gr">
                <h4><a href="/#contact">歡迎與我們合作</a></h4>
                <p>Cooperate with us</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- contact- -->
  <div class="contact" id="contact">
    <div class="col-md-6 map wow fadeInLeft animated " data-wow-delay=".5s">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7285.696491347937!2d120.64408062900411!3d24.07164803225892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693b9244512367%3A0x9b4e13b17d89a533!2zNDE05Y-w5Lit5biC54OP5pel5Y2A55Kw5Lit6Lev5YWr5q61ODk26Jmf!5e0!3m2!1szh-TW!2stw!4v1484211638115" ></iframe>
    </div>
    <div class="col-md-6 contact-form wow agileits w3layouts fadeInRight animated" data-wow-delay=".5s">
      <h3>聯絡我們</h3>
    <div class="col-md-6 agileits w3layouts contact-top">
      <%= form_tag "/inquire" do %>
        <input type="text" placeholder="姓名" required name="name">								
        <input type="text" placeholder="LINE、微信、Skype、Email 皆可" required name="contact">
        <input type="text" placeholder="方便聯絡時間" name="availability">
        <textarea placeholder="施工區域類型：如「外牆」、「內牆」、「地面」、「電視牆」、「檯面」、「浴室」等等；                施工區域面積：如「120平方公尺」、「45坪」等等" name="content"></textarea>	
        <label class="hvr-rectangle-out agileits w3layouts">
          <input type="submit" value="送出" >
        </label>
      <% end %>				
    </div>
    <div class="col-md-6 agileits w3layouts contact-left">
      <div class="address agileits w3layouts">
        <div class=" address-grid agileits w3layouts">
          <i class="glyphicon agileits w3layouts glyphicon-map-marker"></i>
          <div class="address1 agileits w3layouts">
            <h6>地址</h6>
            <p>台中市烏日區環中路八段896號</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class=" agileits w3layouts address-grid ">
          <i class="glyphicon agileits w3layouts glyphicon-phone"></i>
          <div class="address1 agileits w3layouts">
            <h6>電話</h6>
            <p> 04 2334-5333</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class=" agileits w3layouts address-grid ">
          <i class="glyphicon agileits w3layouts glyphicon-envelope"></i>
          <div class="address1 agileits w3layouts">
            <h6>Email:</h6>
            <p><a href="mailto:info@example.com">kuangyuanstone@gmail.com</a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <!--//content-->
  <script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
        };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
  <a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>