<!--header-->
<div class="header agileits w3layouts  header-head" id="home">
	<div class="w3layouts">
		<div class="head agileits">
			<%= render "common/nav" %>
		</div>
	</div>
</div>

			 <!---->
			 <div class="our-team" id="team">
		 <div class="container">			
				 <h3>石材型錄</h3>
			 <div class="team">
                 
				<div class="col-md-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 col-1 ">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0445.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 col-1-at">
						<h5><a href="single.html">木化石 Moca Cream</a></h5>
                        <p>石材特色：米黃Yellow</p>
                        <p>石材產地：</p>
                        <p>實際案例：</p> 
					 </div>
				<div class="clearfix"> </div>
				    </div>
				</div>
                 
                <div class="clearfix">　</div>
				<div class="col-md-12 team-grid wow fadeInRight animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 col-1">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0451.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 col-1-at">
						<h5><a href="single.html">雕刻白 Statuvario</a></h5>
                        <p>石材特色：白 White</p>
                        <p>石材產地：</p>
                        <p>實際案例：</p> 	
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
                
                <div class="clearfix">　</div> 
				<div class="col-md-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 agileits w3layouts col-1">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0465.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 agileits w3layouts col-1-at">
						<h5><a href="single.html">秋海棠 Grey Savana</a></h5>
                        <p>石材特色： 灰Gray</p>
                        <p>石材產地：</p> 
                        <p>實際案例：</p>
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
                 
				 <div class="clearfix">　</div>
                 <div class="col-md-12 team-grid wow agileits w3layouts fadeInRight animated" data-wow-delay=".5s">
					 <div class="team-1 agileits w3layouts">
					 <div class="col-md-5 agileits w3layouts col-1 ">
						<img class="img-responsive agileits w3layouts gray" src="<%= asset_url('stone/DSC_0470.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 agileits w3layouts col-1-at">
						<h5><a href="single.html">蔚藍海岸 Blue Coast</a></h5>
                        <p>石材特色： 特殊石材 Exotic</p>
                        <p>石材產地：</p>
                        <p>實際案例：</p>	
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
                 
                <div class="clearfix">　</div> 
				<div class="col-md-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 agileits w3layouts col-1">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0477.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 agileits w3layouts col-1-at">
						<h5><a href="single.html">秋海棠 Grey Savana</a></h5>
                        <p>石材特色： 灰Gray</p>
                        <p>石材產地：</p> 
                        <p>實際案例：</p>
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
                 
                <div class="clearfix">　</div> 
				<div class="col-md-12 team-grid wow fadeInRight animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 agileits w3layouts col-1">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0479.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 agileits w3layouts col-1-at">
						<h5><a href="single.html">秋海棠 Grey Savana</a></h5>
                        <p>石材特色： 灰Gray</p>
                        <p>石材產地：</p> 
                        <p>實際案例：</p>
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
                 
                <div class="clearfix">　</div> 
				<div class="col-md-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 agileits w3layouts col-1">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0485.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 agileits w3layouts col-1-at">
						<h5><a href="single.html">秋海棠 Grey Savana</a></h5>
                        <p>石材特色： 灰Gray</p>
                        <p>石材產地：</p>
                        <p>實際案例：</p>
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
                 
                <div class="clearfix">　</div> 
				<div class="col-md-12 team-grid wow fadeInRight animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 agileits w3layouts col-1">
						<img class="img-responsive gray" src="<%= asset_url('stone/DSC_0489.jpg') %>" alt="">
					 </div>
					 <div class="col-md-7 agileits w3layouts col-1-at">
						<h5><a href="single.html">秋海棠 Grey Savana</a></h5>
                        <p>石材特色： 灰Gray</p>
                        <p>石材產地：</p> 
                        <p>實際案例：</p>
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div> 

			 </div>
		</div>
	</div>