<div class="single agileits w3layouts">
  <div class="container">
    <div class="top-stone">
      <h3><%= @example.full_name %></h3>
    </div>
    
    <div class="single-top">
      <div class="col-md-9">
        <div class="col-md-12">
          <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="<%= asset_url('ex-1.jpg') %>" alt="" />
          <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="<%= asset_url('ex-3.jpg') %>" alt="" />
          <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="<%= asset_url('ex-4.jpg') %>" alt="" />
        </div>
        <div class="lone-line col-md-12 wow fadeInLeft animated" data-wow-delay=".5s">
          <ul class="grid-blog agileits w3layouts">
            <li><span><i class="glyphicon agileits w3layouts glyphicon-time"></i><%= @example.date_and_time %></span></li>
            <li><a href="#"><i class="glyphicon agileits w3layouts glyphicon-user"> </i><%= @example.designer %></a></li>
            <div class="clearfix">　</div>
            <%= simple_format @example.description %>
          </ul>
        </div>
      </div>
        
      <div class="col-md-3">
        <div class="col-1-at md-word sidebar-title-wrapper">
          <h5 class="text-center sidebar-title"><a href="single.html">使用石材</a></h5>
        </div>
        <%= render partial: "sidebar/stone", collection: @example.stones, as: :stone %>
      </div>
    </div>
  
  </div>
</div>