<h2 style="margin-bottom: 20px;">忘記密碼？</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "重置密碼", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
