<nav class="navbar aits navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="wthree navbar-header">
    <button type="button" class="navbar-toggle agile collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only w3ls">Toggle navigation</span>
      <span class="icon-bar aits"></span>
      <span class="icon-bar w3l"></span>
      <span class="icon-bar aits"></span>
    </button>
    <div class="navbar-brand logo w3layouts wow fadeInLeft animated" data-wow-delay=".5s">
      <h1><a class="logo" href="index.html"><img src="<%= asset_url('logo.png') %>"></a></h1>	
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse agileits w3layouts nav-wil" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav wow fadeInDown agileits w3layouts animated" data-wow-delay=".5s">
      <li><a href="/#home" class="agileits w3layouts <%= render_scroll_class_when_needed %>"><span data-hover="Home">首頁</span></a></li>
      <li><a href="/#about" class="agileits w3layouts <%= render_scroll_class_when_needed %>"><span data-hover="About">關於礦元</span></a></li>
      <li><a href="/stones" class="agileits w3layouts <%= render_active('/stones') %>"><span data-hover="Stone">石材型錄</span></a></li>
      <li><a href="/techniques" class="agileits w3layouts <%= render_active('/techniques') %>"><span data-hover="Method">石材工法</span></a></li>
      <li><a href="/examples" class="agileits w3layouts <%= render_active('/examples') %>"><span data-hover="Example">精選案例</span></a></li>
      <li><a href="/#contact" class="agileits w3layouts <%= render_scroll_class_when_needed %>"><span data-hover="Cotact">聯絡我們</span> </a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>