<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <title>礦元石業</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      @import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
      body{
        font-family:'cwTeXHei', sans-serif;
      }
    </style>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  	<%= render "common/header" %>
    <%= yield %>
    <%= render "common/footer" %>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){   
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
      new WOW().init();
    </script>
  </body>
</html>
