<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>礦元石業</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
	    jQuery(document).ready(function($) {
	        $(".scroll").click(function(event){		
	            event.preventDefault();
	            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	        });
	    });
    </script>
    <style type="text/css">
    	new WOW().init();
      @import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
      body{
        font-family:'cwTeXHei', sans-serif;
      }
    </style>
  </head>

  <body>
  	<%= render "admin/common/header" %>
    <div class="container">
      <div class="well text-center devise-form-wrapper">
        <%= yield %>
      </div>
    </div>
    <%= render "admin/common/footer" %>
  </body>
</html>
